<!DOCTYPE html>
<html>
    <head>
        <title>Fight Math Search</title>
    </head>
    <body>
        <h1>Common Opponents</h1>
        <h3>Im Working</h3>
       <h4>{{fighter1}}</h4>
       <h4>{{fighter2}}</h4>
       <table>
        <tr>
            <th>Opponent Name</th>
        </tr>
        {% for fighter in fighter1_list %}
        <tr>
            <td>{{ fighter }}</td>
        </tr>
        {% endfor %}
    </table>
    <table>
        <tr>
            <th>Opponent Name</th>
        </tr>
        {% for fighter in fighter2_list %}
        <tr>
            <td>{{ fighter }}</td>
        </tr>
        {% endfor %}
    </table>
    </body>
</html>
<script>

  </script>