<!DOCTYPE html>
<html>
    <head>
        <title>Fight Math Search</title>
    </head>
    <body>
        <h1>UFC Fighter Search</h1>
        <form id="fighter_form" method="post">
            <label for="text">Enter Fighter Name:</label>
            <input type="text" id="fighter1" name="fighter1"><br><br>
            <label for="text">Enter second fighter:</label>
            <input type="text" id="fighter2" name="fighter2"><br><br>
            <button type="submit">Submit</button>
          </form>
    </body>
</html>
<script>
    const form = document.getElementById('fighter_form');
    form.addEventListener('submit', (event) => {
      event.preventDefault();
      const formData = new FormData(form);
      const fighter1 = formData.get('fighter1');
      const fighter2 = formData.get('fighter2');
      fetch('/result', {
        method: 'POST',
        body: JSON.stringify({fighter1: fighter1, fighter2: fighter2}),
        headers: {
          'Content-Type': 'application/json'
        }
      })
      .then(response => response.text())
      .then(html => {
        const resultPage = document.createElement('html');
        resultPage.innerHTML = html;
        document.documentElement.replaceWith(resultPage);
      })
      .catch(error => console.error(error));
    });
  </script>